{% extends 'polls/base.html' %}

{% block title %}Polls - Home{% endblock %}

{% block header %}Welcome to Polls{% endblock %}

{% block content %}
    <p>This is the home page content.</p>
    <!-- Add more content specific to this page -->

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} ... {{ question.pub_date }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}


    


{% endblock %}

