{% extends 'vizualytics/base.html' %}
{% load static %}
{% block head %}
<title>JobBean</title>
{% endblock%}
{% block body%}

<header class="banner"><h1>JobBean</h1></header> 

<div id="map" class="m1"></div>
    <!-- AJAX form instead of post -->
<div class="ajaxSearch">
    <input type="text" name="search_key_ajax" id="search_key_ajax" placeholder="Søg på en jobkategori">
    <input type="submit" name="Søg" value="Search" onclick="return search_jobs()">
    <!--<div id="ajax_results">Ajax Results</div>-->
</div>

<script src="{% static 'vizualytics/js/script.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpqwAaB83fs0Eu9MvXo1oYM93SvEqy_l4&callback=initMap&v=weekly" defer></script>

{% endblock%}
